:root {
  font-family: "Inter", "Segoe UI", -apple-system, BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0;
  flex: 1;
  max-width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --font-color: #213547;
    --font-color-secondary: #4a4a4a;
    --font-color-tertiary: #6e6e6e;
    --background-color: #ffffff;
    --background-color-75: #ffffffbf;
    --background-color-50: #ffffff7f;
    --background-color-secondary: #f9f9f9;
    --background-color-tertiary: #f0f0f0;
    --primary-color: #5b7ff7;
    --font-color-primary: #5b7ff7;
    --font-hover-primary: #4a6fe0;
    --primary-color-75: #5b7ff7bf;
    --primary-hover: #4a6fe0;
    --primary-hover-75: #4a6fe0bf;
    --primary-light-color: #f0f4ff;
    --primary-light-75: #f0f4ffbf;
    --primary-light-50: #f0f4ff7f;
    --primary-light-hover: #dce4ff;
    --border-color: #e2e8f0;
    --primary-dark-color: #222b3b;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --bibtex-block-bg: #f7f7f7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #e1e1e1;
    --font-color-secondary: #c1c1c1;
    --font-color-tertiary: #a1a1a1;
    --background-color: #3a3a3a;
    --background-color-75: #3a3a3abf;
    --background-color-50: #3a3a3a7f;
    --background-color-secondary: #2c2c2c;
    --background-color-tertiary: #242424;
    --font-color-primary: #7e9cff;
    --font-hover-primary: #aabeff;
    --primary-color: #304891;
    --primary-color-75: #304891bf;
    --primary-hover: #3855ad;
    --primary-hover-75: #3855adbf;
    --primary-light-color: #2f3c53;
    --primary-light-hover: #45597b;
    --primary-light-75: #2f3c537f;
    --primary-light-50: #2f3c5350;
    --border-color: #595959;
    --primary-dark-color: #f0f4ff;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --bibtex-block-bg: #2c2c2c;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

/* Custom Styles */
/* ------------------------------ */
.block-title {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.block {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
}

.btn {
  padding: 0 1.5rem;
  border-radius: 14px;
  background-color: var(--primary-light-color);
  border: 1px solid var(--primary-light-hover);
  transition: background-color 0.15s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-light-hover);
}

a {
  color: var(--font-color-primary);
  text-decoration: none;
  font-weight: 600;
}